In [32]:
# import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

### slice łącznie z 4 - by label

In [7]:
print(df.loc[0:4]) #by label

          A         B         C         D
0 -0.361084  0.249275 -0.931071  1.585738
1  0.567543  0.738718  2.212160 -2.130589
2 -0.680366  0.596854 -1.073641 -0.555807
3 -1.463872 -0.130571  0.733981 -1.447959
4  0.203810  0.463675  0.389133 -0.974736

### slice z wyłączeniem 4 - by index

In [8]:
print(df.iloc[0:4]) #by index

          A         B         C         D
0 -0.361084  0.249275 -0.931071  1.585738
1  0.567543  0.738718  2.212160 -2.130589
2 -0.680366  0.596854 -1.073641 -0.555807
3 -1.463872 -0.130571  0.733981 -1.447959

## range - działa z wyłączeniem zakresu_do
range(0,3):
0,1,2

In [9]:
print(df.loc[0]) # by label

A   -0.361084
B    0.249275
C   -0.931071
D    1.585738
Name: 0, dtype: float64

In [10]:
print(df.iloc[0]) # by index

A   -0.361084
B    0.249275
C   -0.931071
D    1.585738
Name: 0, dtype: float64

In [12]:
print(df.A[0])

0.49470699134487883

In [13]:
print(df.A.iloc[0])

0.49470699134487883

In [5]:
df = pd.DataFrame({'Animal' : ['Falcon', 'Falcon',
...                                'Parrot', 'Parrot'],
...                    'Max Speed' : [380., 370., 24., 26.]})

In [3]:
df.shape

(8, 4)

In [10]:
df.iloc[(df.Animal=='Parrot').values]

   Animal  Max Speed
2  Parrot       24.0
3  Parrot       26.0

In [43]:
df.iloc[(df.iloc[:, -2].isin([380])).values,-1] = False

In [42]:
(df.iloc[:, -2].isin([380])).values

array([ True, False, False, False])

In [11]:
df.iloc[:, 0]

0    Falcon
1    Falcon
2    Parrot
3    Parrot
Name: Animal, dtype: object

In [9]:
df.Animal[df['Max Speed']==24.0]

2    Parrot
Name: Animal, dtype: object

In [14]:
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [5]:
x = np.arange(0,5)
x

array([0, 1, 2, 3, 4])

In [10]:
macdKey       = [15]
macdKey.append(30)
macdKey

[15, 30]

NoneType

In [10]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

In [11]:
df

          A         B         C         D
0 -0.546516 -1.176466  0.795885 -2.549451
1 -0.810260 -0.427547  0.119498 -0.069180
2 -0.316516 -1.188195  0.715760  0.683463
3 -0.511993  1.806614 -1.097595 -0.329434
4 -1.231992 -1.760718 -1.383841  0.641071
5  0.980700 -0.378671  0.855769  0.739685
6  0.636976  0.358440  0.732020 -1.255463
7  1.539559  2.194497 -1.192705 -0.869809

In [15]:
df.iloc[[True,True,True,False],-1]

0   -2.549451
1   -0.069180
2    0.683463
Name: D, dtype: float64

In [21]:
df.iloc[:, -1].isin([-2.549451])

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: D, dtype: bool

In [14]:
df.columns[1:-1]

Index(['B', 'C'], dtype='object')

In [14]:
df['D'].iloc[7] = np.NaN

In [18]:
df.iloc[3:4,[2]] = 1222

In [4]:
df

          A         B         C         D
0 -0.691585 -0.914009 -0.980978  0.603309
1  1.442977  0.209308  0.332566  0.034262
2  1.681221 -1.980466  0.573656 -1.656230
3  0.240136 -0.008774  2.070831 -0.014318
4  0.402495  2.200763 -1.005521  1.232130
5 -0.371668 -0.335828 -0.835781  0.190442
6 -0.252431  0.643346  0.256285 -0.569366
7  1.068141  0.234319 -0.185276  0.291008

In [16]:
df.A.loc[df.D.notna()]

0    0.183169
1    0.034536
2   -0.863994
3    1.206515
4    1.018467
5    0.225037
6   -0.117027
Name: A, dtype: float64

In [25]:
df.drop(df[df.D.isna()].index,axis=0)

          A         B         C         D
0  0.183169  0.251445  0.652233  0.842335
1  0.034536  0.589361 -1.137182  0.085072
2 -0.863994 -0.117155  0.709162  0.392567
3  1.206515  0.492979  1.348127  0.514613
4  1.018467  0.448653  0.105540  0.893728
5  0.225037  0.960679  1.650188  0.830468
6 -0.117027 -1.169410 -0.771598 -1.619165

In [27]:
df[df.D.isna()].index.name

In [26]:
d = np.log(23)
print(np.exp(d))

23.0

In [29]:
df.rename(index=str, columns={"A": "fulldate"})

   fulldate    B       C         D
0  1.357552  1.0    11.0 -1.075093
1 -0.469252  1.0    11.0  0.061514
2 -0.572209  1.0    11.0 -0.664296
3 -0.145550  1.0  1222.0  0.347635
4  1.489273  1.0    11.0 -1.549766
5  0.272189  1.0    11.0 -1.984839
6 -0.906008  1.0    11.0 -1.076363
7 -0.195922  1.0    11.0  0.896631

In [30]:
df

          A    B       C         D
0  1.357552  1.0    11.0 -1.075093
1 -0.469252  1.0    11.0  0.061514
2 -0.572209  1.0    11.0 -0.664296
3 -0.145550  1.0  1222.0  0.347635
4  1.489273  1.0    11.0 -1.549766
5  0.272189  1.0    11.0 -1.984839
6 -0.906008  1.0    11.0 -1.076363
7 -0.195922  1.0    11.0  0.896631

In [33]:
df = df.append([df],ignore_index=True)

In [34]:
df

           A    B       C         D
0   1.357552  1.0    11.0 -1.075093
1  -0.469252  1.0    11.0  0.061514
2  -0.572209  1.0    11.0 -0.664296
3  -0.145550  1.0  1222.0  0.347635
4   1.489273  1.0    11.0 -1.549766
5   0.272189  1.0    11.0 -1.984839
6  -0.906008  1.0    11.0 -1.076363
7  -0.195922  1.0    11.0  0.896631
8   1.357552  1.0    11.0 -1.075093
9  -0.469252  1.0    11.0  0.061514
10 -0.572209  1.0    11.0 -0.664296
11 -0.145550  1.0  1222.0  0.347635
12  1.489273  1.0    11.0 -1.549766
13  0.272189  1.0    11.0 -1.984839
14 -0.906008  1.0    11.0 -1.076363
15 -0.195922  1.0    11.0  0.896631

In [35]:
df.replace(11,5)

           A    B       C         D
0   1.357552  1.0     5.0 -1.075093
1  -0.469252  1.0     5.0  0.061514
2  -0.572209  1.0     5.0 -0.664296
3  -0.145550  1.0  1222.0  0.347635
4   1.489273  1.0     5.0 -1.549766
5   0.272189  1.0     5.0 -1.984839
6  -0.906008  1.0     5.0 -1.076363
7  -0.195922  1.0     5.0  0.896631
8   1.357552  1.0     5.0 -1.075093
9  -0.469252  1.0     5.0  0.061514
10 -0.572209  1.0     5.0 -0.664296
11 -0.145550  1.0  1222.0  0.347635
12  1.489273  1.0     5.0 -1.549766
13  0.272189  1.0     5.0 -1.984839
14 -0.906008  1.0     5.0 -1.076363
15 -0.195922  1.0     5.0  0.896631

In [16]:
a = df[5:7].copy()

In [19]:
a.A.iloc[0]= 15

In [22]:
a = df.max(axis=1)

In [23]:
a

0    0.080745
1    0.061135
2    0.318464
3    0.607108
4    1.105612
5    2.187137
6    0.991886
7    2.531728
dtype: float64

In [21]:
df

          A         B         C         D
0  0.080745 -1.084829 -1.016029 -0.819313
1 -0.930544  0.061135 -0.163369 -0.484819
2  0.318464 -1.428123 -0.002303 -0.278420
3  0.607108 -0.893104  0.174577 -1.263302
4 -0.536279  1.105612 -0.683890  0.543252
5  0.457564 -1.044667  2.187137  0.001938
6  0.003767  0.507964  0.636777  0.991886
7 -0.409309 -0.202396 -1.371442  2.531728

In [12]:
mydate = dt.datetime(2019,3,12)

In [13]:
print(mydate.isoweekday())

2

In [24]:
a = [2,3,4]

In [28]:
a.append(4)

In [29]:
a

[2, 3, 4, 3, 4]

In [1]:
import pandas as pd
import numpy as np

np.random.seed(10)
X = pd.DataFrame({
    'x_0': np.random.randint(1, 11, 20),
    'x_1': np.random.randint(1, 11, 20)
})
y = (X['x_0'] + X['x_1']).map(lambda x: 1 if x <= 10 else 0)

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, shuffle = False, random_state=1)

In [31]:
X_train

    x_0  x_1
0    10    5
1     5    2
2     1    4
3     2    7
4    10    6
5     1    4
6     2   10
7     9    7
8    10   10
9     1    2
10    9   10
11    7    5
12    5    3
13    4    7
14    1    8

In [3]:
df = pd.DataFrame({'A' : [5,6,3,4], 'B' : [1,2,3, 5]})

In [4]:
df

   A  B
0  5  1
1  6  2
2  3  3
3  4  5

In [15]:
a = 3

In [16]:
df[df.A.isin(a)]

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [int]

In [21]:
from datetime import datetime
datetime.now()

datetime.datetime(2021, 9, 15, 21, 29, 25, 864699)

In [34]:
df = df.drop(df[df.B==3].index,axis=0)

In [18]:
datetime.now()

NameError: name 'datetime' is not defined

In [4]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

NameError: name 'ds' is not defined

In [1]:
import torch
torch.cuda.is_available()

False

In [3]:
abc='v14c'

In [5]:
abc.startswith('v15')

False

In [11]:
aa_ = df.columns

In [5]:
aa

0   -1.834878
1    0.338487
2   -1.512401
3    0.693018
4    0.333602
5    0.421315
6   -0.921854
7   -0.235881
Name: D, dtype: float64

In [13]:
aa_[-1]

'D'

In [25]:
!pip install scikit-optimize

Collecting scikit-optimize
  Downloading https://files.pythonhosted.org/packages/8b/03/be33e89f55866065a02e515c5b319304a801a9f1027a9b311a9b1d1f8dc7/scikit_optimize-0.8.1-py2.py3-none-any.whl (101kB)
Requirement already satisfied: numpy>=1.13.3 in c:\anaconda3\lib\site-packages (from scikit-optimize) (1.19.2)
Requirement already satisfied: joblib>=0.11 in c:\anaconda3\lib\site-packages (from scikit-optimize) (0.13.2)
Collecting pyaml>=16.9 (from scikit-optimize)
  Downloading https://files.pythonhosted.org/packages/7b/33/12e2e89527df0e1f5bc07f94a039b981cc4a15f040f29a6cc978f8f99dd4/pyaml-21.8.3-py2.py3-none-any.whl
Requirement already satisfied: scipy>=0.19.1 in c:\anaconda3\lib\site-packages (from scikit-optimize) (1.2.1)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\anaconda3\lib\site-packages (from scikit-optimize) (0.22.2.post1)
Requirement already satisfied: PyYAML in c:\anaconda3\lib\site-packages (from pyaml>=16.9->scikit-optimize) (5.1.1)
Installing collected packages: pyaml, scikit-optimize
Successfully installed pyaml-21.8.3 scikit-optimize-0.8.1

In [26]:
from skopt.space import Integer

In [48]:
search_space = [Integer(1, 5, name='n_neighbors'), Integer(1, 5, name='p'), Integer(1, 5, name='p1')]

In [36]:
type(search_space)

list

In [30]:
search_space[0]

Integer(low=1, high=5, prior='uniform', transform='identity')

In [61]:
# example of bayesian optimization with scikit-optimize
from numpy import mean
from sklearn.datasets import make_blobs
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from skopt.space import Integer
from skopt.space import Categorical
from skopt.utils import use_named_args
from skopt import gp_minimize
from warnings import catch_warnings
from warnings import simplefilter

# generate 2d classification dataset
X, y = make_blobs(n_samples=500, centers=3, n_features=2)
# define the model
model = KNeighborsClassifier()
# define the space of hyperparameters to search
search_space = [Integer(1, 5, name='n_neighbors'), Integer(1, 5, name='p'), Integer(1, 5, name='p1')]
search_space = [Categorical((0.1, -5), name='n_neighbors'), Integer(1, 5, name='p'), Integer(1, 5, name='p1')]

# define the function used to evaluate a given configuration
@use_named_args(search_space)
def evaluate_model(**params):
    print(params['n_neighbors'],params['p'],params['p1'])
    return -(params['n_neighbors'] + params['p']+ params['p1'])

# perform optimization
with catch_warnings():
      # ignore generated warnings
    simplefilter("ignore")

    result = gp_minimize(evaluate_model, search_space,n_calls=20)
# summarizing finding:
print('Best Accuracy: %.3f' % (result.fun))
print('Best Parameters: n_neighbors=%d, p=%d, p1=%d' % (result.x[0], result.x[1], result.x[2]))

0.1 3 3
0.1 2 3
0.1 4 5
0.1 2 4
0.1 3 1
0.1 5 3
-5.0 1 2
0.1 2 4
-5.0 2 4
0.1 4 3
0.1 5 5
0.1 5 5
0.1 5 5
0.1 5 5
0.1 5 5
0.1 5 5
0.1 5 5
0.1 5 5
0.1 5 5
0.1 5 5
Best Accuracy: -10.100
Best Parameters: n_neighbors=0, p=5, p1=5

In [26]:
df = np.nan

In [28]:
df = pd.DataFrame()

In [16]:
type(df)

float

In [33]:
math.isnan(df)

TypeError: must be real number, not DataFrame

In [46]:
df = {}

In [43]:
df = None

In [44]:
type(df)

NoneType

In [47]:
df is None

False

In [6]:
11000 % 1000

0

In [13]:
from datetime import datetime
now = datetime.now()

later = datetime.now()
difference = int((later - now).total_seconds())

In [14]:
print(difference)

0