In [267]:
import os
cwd = os.getcwd()
if cwd[0:2] != "C:":
    from google.colab import drive
    drive.mount('/content/gdrive',force_remount=True)
    %cd "/content/gdrive/My Drive/Projects"
    !git clone https://github.com/ai357060/modelF.git
    import sys
    root_dir="/content/gdrive/My Drive/Projects/modelF"
    sys.path.append(root_dir)
    %cd "/content/gdrive/My Drive/Projects/modelF/wm"
    !git fetch --all
    !git reset --hard origin/master

In [268]:
import os
cwd = os.getcwd()
if cwd[0:2] != "C:":
    from google.colab import drive
    drive.mount('/content/gdrive',force_remount=True)
    %cd "/content/gdrive/My Drive/Projects"
#     !git clone https://github.com/ai357060/modelF.git
    import sys
    root_dir="/content/gdrive/My Drive/Projects/modelF"
    sys.path.append(root_dir)
    %cd "/content/gdrive/My Drive/Projects/modelF/wm"
#     !git pull

In [269]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [270]:
import pandas as pd
import numpy as np
import datetime as dt
import importlib
import tradestats
import pandas as pd
from datetime import datetime

In [271]:
from sklearn import datasets
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier 
from sklearn import tree
import graphviz

In [272]:
importlib.reload(tradestats)
from tradestats import *

In [273]:
prices = loaddata_1D('AUDUSD_Candlestick_1_D_BID_03.08.2003-24.10.2021.csv')

In [274]:
len(prices)

4753

In [275]:
importlib.reload(tradestats)
from tradestats import *
maKey = [5,10,20,40,60,80,100,120,140,160,180,200]
atrKey        = [14,70,140]
dictList = []
colFeat = []
keyList = []
maDict   = ma(prices, maKey)
atrDict        = atr(prices, atrKey)
dictList.append(maDict.df); colFeat.append('ma'); keyList.append(maKey) 
dictList.append(atrDict.df); colFeat.append('atr'); keyList.append(atrKey)

In [276]:
# prices.dropna(inplace=True)
masterFrame = pd.DataFrame(index=prices.index)
masterFrame[['id','year','month','day','date','weekday','open','high','low','close','volume']] = prices[['id','year','month','day','date','weekday','open','high','low','close','volume']]

In [277]:
for i in range(0,len(dictList)):#iteracja po funkcjach
    for j in keyList[i]: #iteracja po okresach
        for k in list(dictList[i][j]): #iteracja po kolumnach danej funkcji w okresie
            colID = colFeat[i] + str(j) + k
            masterFrame[colID] = dictList[i][j][k]

In [278]:
# masterFrame.to_csv(sep=';',path_or_buf='../Data/masterFrame.csv',date_format="%Y-%m-%d",index = False,na_rep='')

In [279]:
masterFrame = masterFrame.dropna()

In [280]:
masterFrame.tail(5)

,id,year,month,day,date,weekday,open,high,low,close,...,ma200SMAclose_prev,atr14tr,atr14atr,atr14atr_prev,atr70tr,atr70atr,atr70atr_prev,atr140tr,atr140atr,atr140atr_prev
4748,4748,2021,10,18,2021-10-18 21:00:00,0,0.74146,0.74370,0.73781,0.74102,...,-0.015050,0.00589,0.006314,0.006505,0.00589,0.006157,0.006141,0.00589,0.006349,0.006351
4749,4749,2021,10,19,2021-10-19 21:00:00,1,0.74080,0.74851,0.74074,0.74715,...,-0.015627,0.00777,0.006199,0.006314,0.00777,0.006158,0.006157,0.00777,0.006360,0.006349
4750,4750,2021,10,20,2021-10-20 21:00:00,2,0.74715,0.75222,0.74647,0.75144,...,-0.009348,0.00575,0.005998,0.006199,0.00575,0.006162,0.006158,0.00575,0.006346,0.006360
4751,4751,2021,10,21,2021-10-21 21:00:00,3,0.75128,0.75460,0.74581,0.74655,...,-0.004949,0.00879,0.006023,0.005998,0.00879,0.006177,0.006162,0.00879,0.006368,0.006346
4752,4752,2021,10,22,2021-10-22 21:00:00,4,0.74654,0.75118,0.74533,0.74631,...,-0.009684,0.00585,0.006063,0.006023,0.00585,0.006188,0.006177,0.00585,0.006357,0.006368

In [281]:
importlib.reload(tradestats)
from tradestats import *
starttime = datetime.now()
# alltrades = preparetrades_brut_tsl(masterFrame,[1],[0.001,0.002,0.003,0.004,0.005,0.006],[0.001,0.002,0.003,0.004,0.005,0.006],[0.001,0.002,0.003,0.004,0.005,0.006],2015,2021)
# alltrades = preparetrades_brut_tp(masterFrame,[1],[0.001,0.002,0.003,0.004,0.005,0.006],[0.001,0.002,0.003,0.004,0.005,0.006],2003,2021)
alltrades = preparetrades_brut_tp(masterFrame,[1],[0.1,0.2,0.3,0.4,0.5,0.6],[0.1,0.2,0.3,0.4,0.5,0.6],2003,2021)
endtime = datetime.now()
print(str(endtime - starttime))

-2
-2
-3
-4
-4
-4
-2
-3
-3
-4
-5
-5
-3
-3
-3
-5
-5
-6
-3
-3
-4
-6
-6
-6
-4
-5
-5
-6
-7
-7
-4
-5
-6
-7
-7
-9
0:00:24.834733

In [282]:
importlib.reload(tradestats)
from tradestats import *
trades = cleartrades_brut(alltrades.copy(),True)
# trades,alltrades = preparetrades(masterFrame,[-1,1],[5],[13],[0.002],True)

In [283]:
#____________________________________________________________________________________________________________________
#
#
alltrades.head(2)

,id,year,month,day,date,weekday,open,high,low,close,...,stoploss,takeprofit,closeindex,tpcloseindex,closeprice,tpcloseprice,slindex,slprice,profit,profit1
202,202,2004,5,12,2004-05-12 21:00:00,2,0.69659,0.70232,0.69390,0.69845,...,0.695642,0.697538,202.0,-1.0,0.695642,-1.0,202.0,0.69390,-9.481643,-1
203,203,2004,5,13,2004-05-13 21:00:00,3,0.69832,0.70005,0.68462,0.68816,...,0.697369,0.699271,203.0,-1.0,0.697369,-1.0,203.0,0.68462,-9.507429,-1

In [ ]:
importlib.reload(tradestats)
from tradestats import *
# stats1 = runstats_ma_v4(alltrades,'ma5SMAdiff_prev','ma5SMAdiffdiff_prev','ma5SMAdiff2_prev','ma5SMAclose_prev')
# stats1 = runstats_ma_v5(alltrades,'ma10SMAdiff_prev','ma10SMAdiffdiff_prev','ma10SMAdiff2_prev','ma10SMAclose_prev')
# stats1 = runstats_ma_v5(alltrades,'ma20SMAdiff_prev','ma20SMAdiffdiff_prev','ma20SMAdiff2_prev','ma20SMAclose_prev')
stats1 = runstats_ma_v5(alltrades,'ma40SMAdiff_prev','ma40SMAdiffdiff_prev','ma40SMAdiff2_prev','ma40SMAclose_prev')
# stats1 = runstats_ma_v5(alltrades,'ma60SMAdiff_prev','ma60SMAdiffdiff_prev','ma60SMAdiff2_prev','ma60SMAclose_prev')
stats1 = runstats_ma_v5(alltrades,'ma80SMAdiff_prev','ma80SMAdiffdiff_prev','ma80SMAdiff2_prev','ma80SMAclose_prev')
# stats1 = runstats_ma_v5(alltrades,'ma100SMAdiff_prev','ma100SMAdiffdiff_prev','ma100SMAdiff2_prev','ma100SMAclose_prev')
stats1 = runstats_ma_v5(alltrades,'ma120SMAdiff_prev','ma120SMAdiffdiff_prev','ma120SMAdiff2_prev','ma120SMAclose_prev')
stats1 = runstats_ma_v5(alltrades,'ma140SMAdiff_prev','ma140SMAdiffdiff_prev','ma140SMAdiff2_prev','ma140SMAclose_prev')
stats1 = runstats_ma_v5(alltrades,'ma160SMAdiff_prev','ma160SMAdiffdiff_prev','ma160SMAdiff2_prev','ma160SMAclose_prev')
# stats1 = runstats_ma_v5(alltrades,'ma180SMAdiff_prev','ma180SMAdiffdiff_prev','ma180SMAdiff2_prev','ma180SMAclose_prev')
stats1 = runstats_ma_v5(alltrades,'ma200SMAdiff_prev','ma200SMAdiffdiff_prev','ma200SMAdiff2_prev','ma200SMAclose_prev')

ma_2015_2021_1_ma40SMAdiff_prev
allexecs:  26244